<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender class="org.apache.log4j.RollingFileAppender" name="PUB_ONE">
		<param name="File" value="kp.log" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="3" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}:%p %c - %m%n" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.ConsoleAppender" name="PUB_TWO">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c - %m%n" />
		</layout>
	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="PUB_TWO" />
		<appender-ref ref="PUB_ONE" />
	</root>
</log4j:configuration>
