<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <!-- Common -->
    <entry key="colon">：</entry>
    <entry key="password">密码</entry>
    <entry key="name">用户名</entry>
    <entry key="close">关闭</entry>
    <entry key="login">登陆</entry>

    <!--- LoginWindow -->
    <entry key="login.label.msg">
        <![CDATA[注意：请选择用户名并输入密码登陆！]]>
    </entry>
    <entry key="login.frame.ico">/logo/8.png</entry>
    <entry key="login.left.ico">/logo/left.png</entry>
    <entry key="login.error">
        <![CDATA[登录失败：
			 %s：您的密码输入失败，请核对后重新登录！]]>
    </entry>
    <entry key="login.msg">登录消息：</entry>

    <!-- Main -->

    <entry key="main.info.msg">
        <![CDATA[帮助的页面：
  			作者：李亚峰
  			日期：2009-11-01
  			信息：目前软件没有最终完成@.@]]>
    </entry>
    <entry key="main.frame.ico">/logo/8.png</entry>

    <entry key="useraction.listener.confirm">
        <![CDATA[确认修改吗？]]>
    </entry>
    <entry key="useraction.listener.success">
        <![CDATA[修改成功：关闭程序下次重新登录时生效！]]>
    </entry>
    <entry key="useraction.listener.error">
        <![CDATA[修改失败：
			1.核对原密码并重新输入；
			2.新密码与确认密码必须相同，长度在5位到8位之间；
			3.已有用户重名；
	]]>
    </entry>
    <entry key="del.operator.msg">
        <![CDATA[确认删除选择内容？]]>
    </entry>
    <entry key="pricedialog.medical.name">
        <![CDATA[长春市协和医院]]>
    </entry>
    <entry key="price.dialog.width">600</entry>
    <entry key="price.dialog.height">450</entry>
    <entry key="price.dialog.print.msg"><![CDATA[确认划价收费？]]></entry>
    <entry key="price.dialo.print.err">
        <![CDATA[收费打印失败：请检查打印机是否正常工作！]]></entry>
    <!-- print location -->
    <entry key="print.user.x">40</entry>
    <entry key="print.user.y">40</entry>

    <entry key="print.date.x">200</entry>
    <entry key="print.date.y">40</entry>

    <entry key="print.operator.x">200</entry>
    <entry key="print.operator.y">200</entry>

    <entry key="print.price.x">300</entry>
    <entry key="print.price.y">200</entry>

    <entry key="print.medicine.x">200</entry>
    <entry key="print.medicine.y">80</entry>
</properties>