<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>2009-11-23 15:56:31</comment>
<entry key="m.quit">退出(Q)</entry>
<entry key="init.password">lym123456</entry>
<entry key="useraction.listener.confirm">
        确认修改吗？
    </entry>
<entry key="useraction.listener.success">
        修改成功：关闭程序下次重新登录时生效！
    </entry>
<entry key="add">增加</entry>
<entry key="m.operator">员工管理</entry>
<entry key="pd.operator">操作员：</entry>
<entry key="main.frame.ico">/logo/8.png</entry>
<entry key="price.dialog.item.index.error">不存在选择的收费项目！
    </entry>
<entry key="m.purchase.ct">物资类别</entry>
<entry key="price.dialog.only.number">只能输入数字！
    </entry>
<entry key="pd.date">开票日期：</entry>
<entry key="login.left.ico">/logo/left.png</entry>
<entry key="m.user">修改信息</entry>
<entry key="m.change.login">更换操作员</entry>
<entry key="m.help">帮助(H)</entry>
<entry key="name">用户名</entry>
<entry key="m.role">权限管理</entry>
<entry key="pd.social">社保账号：</entry>
<entry key="m.config">全局设置</entry>
<entry key="pd.medical">医院名称：</entry>
<entry key="m.bill">发票开单</entry>
<entry key="pd.price">合计费用</entry>
<entry key="main.info.msg">
        帮助的页面：
  			作者：李亚峰
  			日期：2009-11-01
  			信息：目前软件没有最终完成@.@
    </entry>
<entry key="useraction.listener.error">
        修改失败：
			1.核对原密码并重新输入；
			2.新密码与确认密码必须相同，长度在5位到8位之间；
			3.已有用户重名；
	
    </entry>
<entry key="m.medicine">收费项目信息</entry>
<entry key="price.dialo.print.err">
        收费打印失败：请检查打印机是否正常工作！
    </entry>
<entry key="init.user">李艳民</entry>
<entry key="login.label.msg">
        注意：请选择用户名并输入密码登陆！
    </entry>
<entry key="pd.medical.name">长春市协和医院
    </entry>
<entry key="m.case">病例范本</entry>
<entry key="remove">删除</entry>
<entry key="m.medicine.ct">收费项目类别</entry>
<entry key="font.dialog">Microsoft YaHei</entry>
<entry key="m.system">系统管理(M)</entry>
<entry key="pd.item.name">收费项目清单</entry>
<entry key="m.info">信息</entry>
<entry key="pd.name">门（急）诊专用收费单据</entry>
<entry key="colon">：</entry>
<entry key="m.i.quit">退出</entry>
<entry key="m.price">划价收费</entry>
<entry key="price.dialog.print.msg">确认划价收费？
    </entry>
<entry key="password">密码</entry>
<entry key="login">登陆</entry>
<entry key="init.desc">管理员</entry>
<entry key="m.data.rt">数据恢复</entry>
<entry key="m.outpatient">门诊收费(F)</entry>
<entry key="login.msg">登录消息：</entry>
<entry key="price.dialog.height">450</entry>
<entry key="del.operator.msg">
        确认删除选择内容？
    </entry>
<entry key="m.cancel">票据作废</entry>
<entry key="close">关闭</entry>
<entry key="m.warehouse">药品入库</entry>
<entry key="m.purchase.searche">物资入库查询</entry>
<entry key="login.frame.ico">/logo/8.png</entry>
<entry key="pd.user">就诊姓名：</entry>
<entry key="m.stock">库存管理(S)</entry>
<entry key="login.error">
        登录失败：
			 %s：您的密码输入失败，请核对后重新登录！
    </entry>
<entry key="price.dialog.width">600</entry>
<entry key="print">打印</entry>
<entry key="m.outpatient.search">票据查询</entry>
<entry key="m.medicine.searche">药品入库查询</entry>
<entry key="m.purchase">物资信息</entry>
<entry key="m.person">个人信息(R)</entry>
<entry key="m.purchase.st">物资入库</entry>
<entry key="login.index">2</entry>
<entry key="m.data.bk">数据备份</entry>
</properties>
