<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://192.168.0.97:5432/demo"/>
        <property name="username" value="postgres"/>
        <property name="password" value=""/>
    </properties>
    <typeAliases>
        <typeAlias type="test.Changelog" alias="Changelog"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="META-INF/TestMapper.xml"/>
        <mapper resource="META-INF/DemoMapper.xml"/>
    </mappers>
</configuration>
