<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       default-autowire="byName" default-lazy-init="true">
    <!--JPA Config  -->
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="persistenceUnitName" value="punit" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="H2" />
                <property name="showSql" value="true" />
                <property name="generateDdl" value="true" />
            </bean>
        </property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <!-- JPA TransactionManager -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!--
    <context:component-scan base-package="test.dao.impl.jpa" />
    -->
    <!--如果不使用context:component-scan，可以使用以下xml配置的内容   -->
    <bean id="userservice" class="test.dao.impl.jpa.UserDaoImpl">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <bean id="exuserservice"
          class="test.dao.impl.jpa.ExUserDaoImpl">
        <property
            name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <bean id="baseJPADao" class="org.koala.dao.BaseJPADao" scope="prototype"/>


</beans>