<component name="libraryTable">
  <library name="mybatis-spring-1.0.2">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-4/org.mybatis/mybatis-spring/c12498cf18507aa6433a94eb7d3e77d5/jars/mybatis-spring-1.0.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-4/org.mybatis/mybatis-spring/c12498cf18507aa6433a94eb7d3e77d5/sources/mybatis-spring-1.0.2-sources.jar!/" />
    </SOURCES>
  </library>
</component>