<component name="libraryTable">
  <library name="mybatis-guice-3.2">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-4/org.mybatis/mybatis-guice/c12498cf18507aa6433a94eb7d3e77d5/jars/mybatis-guice-3.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-4/org.mybatis/mybatis-guice/c12498cf18507aa6433a94eb7d3e77d5/sources/mybatis-guice-3.2-sources.jar!/" />
    </SOURCES>
  </library>
</component>