<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.BookMapper">
    <select id="selectSingle" parameterType="long" resultType="mybatis.Book">
        SELECT * FROM ADD_BOOK where id = #{value}
    </select>
    <select id="selectSingleUser" parameterType="long" resultType="mybatis.User">
        SELECT * FROM ADD_USER where id = #{value}
    </select>

    <select id="selectTableSingle" parameterType="mybatis.Book" resultType="mybatis.Book">
        select * from ${tablename} where isbn = #{id}
    </select>
    <select id="selectAll.next" parameterType="mybatis.Book" resultType="mybatis.Book">
        select * from add_book
    </select>
</mapper>