<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       default-autowire="byName" default-lazy-init="true">

    <context:component-scan base-package="test.dao.impl.jdbc"/>
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="sql"/>
    </bean>
    <!--如果不使用context:component-scan，可以使用以下xml配置的内容   -->
    <!--
    <bean id="test.dao.impl.jdbc.AccountJDBCDaoImpl" class="test.dao.impl.jdbc.AccountJDBCDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    -->
</beans>